 /* styles.css */
 /*@font-face {
  font-family: 'Poppins SemiBold';
  src: url('/font/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
} */

 * {
    -fx-font-family: "Trebuchet MS";
 }
 
Button {
    -fx-background-color: #7d7d7d;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
    -fx-effect: dropshadow(three-pass-box, #DEDEDE, 1, 5, 0, 0);
}

 
 Button:hover {
    -fx-background-color: #B5B5B5; /* Lightened color for hover effect */
 }

 Button:pressed {
    -fx-background-color: #555555; /* Darkened color for pressed effect */
 }

 .operator-button {
 	-fx-background-color: #ff8c00;
    -fx-font-size: 18pt;
 }
 
 .operator-button:hover {
    -fx-background-color: #FFA500;
 }

 .operator-button:pressed {
    -fx-background-color: #FF8C00; 
 }
 
 
 .result-label {
 	-fx-font-size: 30pt;
 	-fx-font-family: 'Courier New', monospace;
 }
 
.calculate-button {
    -fx-background-color: radial-gradient(center 80% 20%, radius 75%, #FFD60A, #FF9F1C);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16pt;
    -fx-padding: 10 20;	
}

.calculate-button:hover {
    -fx-background-color: radial-gradient(center 80% 20%, radius 75%, #FFD13A, #FFA500);
}

.calculate-button:pressed {
    -fx-background-color: radial-gradient(center 80% 20%, radius 75%, #FFC000, #FF8C00);
}


 
 .ac-button {
 	-fx-background-color: #ff8c00;
 	-fx-text-fill: white;
    -fx-font-size: 14pt; 
 }
 
 .backspace-button {
 	-fx-background-color: #ff8c00;
 	-fx-text-fill: white;
    -fx-font-size: 14pt; 
 }
 
 .ac-button:hover,
 .backspace-button:hover {
    -fx-background-color: #FFA500; 
}

 .ac-button:pressed,
 .backspace-button:pressed {
    -fx-background-color: #FF8C00;
}
 